{
  "presets": [
    "@babel/preset-react",
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-syntax-dynamic-import",
    "loadable-components/babel",
    "babel-plugin-dynamic-import-node",
    ["babel-plugin-module-resolver", {
      "root": "./"
    }]
  ]
}